{% extends 'main.html' %}

{% block content %}

<!-- Main Section -->
    <main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">
                <a class="backButton" href="#"><i class="im im-angle-left"></i></a>
                <br>

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <p>Вы действитеьлно хотите удалить {{ object }}?</p>
                    <a class="btn btn--sub btn--lg  my-md" href="{{request.GET.next}}">&#x2190 Вернуться назад</a>
                    <input class="btn btn--sub btn--lg  my-md" type="submit" value="Удалить" />
                </form>
            </div>
        </div>
    </main>
{% endblock %}